                            <form class="cd-form" method="POST" action="{{ path('login_check') }}">
                                <p class="fieldset">
                                    <label class="image-replace cd-email" for="signin-email">E-mail</label>
                                    <input class="full-width has-padding has-border" id="signin-email" type="text" placeholder="E-mail">

                                </p>

                                <p class="fieldset">
                                    <label class="image-replace cd-password" for="signin-password">Password</label>
                                    <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">

                                </p>

                            {#
                                    <a href="http://pvwebco.com/ticketing_systems/#0" class="hide-password">Hide</a>
                                <p class="fieldset">
                                    <input type="checkbox" id="remember-me" checked="">
                                    <label for="remember-me">Remember me</label>
                                </p>
                            #}

                                <p class="fieldset">
                                    <input class="full-width" type="submit" value="Login">
                                </p>
                            </form>
